@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fefeff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: auto;
}

section {
  width: 100%;
  height: 100vh;
  pointer-events: all;
  background-color: transparent;
}

/* TEXTS */

.headline {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 8vw;
  text-align: left;
  line-height: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.medium-headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3.25vw;
  line-height: 100%;
}

.small-headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 100%;
}

.headline-blue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #111111, #545dfe, #545dfe, #111111, #545dfe, #545dfe, #111111);
  background-size: 400% 400%;
  animation: animate 8s linear infinite alternate;
}

@keyframes animate {
  0% { background-position: 100% 100%; }
  100% { background-position: 0 0; }
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.45vw;
  line-height: 145%;
}

.small-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 100%;
}

.small-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.85vw;
  line-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}


.black {
  color: #111111;
}

.white {
  color: #fefeff;
}

.grey {
  color: #787f87;
}

.bold {
  font-weight: 500;
}


/* NAVIGATION BAR */
.navigation {
  background-color: transparent;
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
  z-index: 10;
  margin-top: 1%;
}

.logo {
  height: 2.5vw;
}

.navigation-right {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  gap: 25px;
}

.navigation-text {
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.navigation-text:hover {
  color: #787f87;
}

/* SECTION ONE */

.one-content {
  width: 90%;
  height: 100vh;
  display: flex;
  margin-top: 0%;
  background-color: transparent;
  flex-direction: column;
  margin-left: 5%;
}

.one-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 5%;
}

.one-bottom-row {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: auto;
  align-items: center;
}

.one-bottom-row-circle {
  width: auto;
  height: auto;
  background-color: #111111;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefeff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  margin-right: 5%;
  padding: 15px;
}

.one-bottom-row-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.broneeri-kõne {
  width: 250px;
  height: auto;
  background-color: #545dfe;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7.5%;
  cursor: pointer;
}


/* SECTION TWO */

.carousel {
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  background-color: transparent;
  height: 100vh;
  align-items: center;
  opacity: 1;
}

.carousel-content {
  width: 42vw;
  height: 100vh;
  background-color: transparent;
  flex: 0 0 auto;
  display: flex;
}

.short {
  width: 36.5vw;
}

.carousel-text-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12%;
  background-color: transparent;
  height: 65%;
  align-self: center;
}

.carousel-button {
  width: 12.5vw;
  height: 4vw;
  display: flex;
  background-color: transparent;
  border-radius: 50px;
  border: #545dfe solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel-image {
  position: relative;
  width: 100%;
  height: 75%;
  background-color: transparent;
  align-self: center;
  border-radius: 50px;
  border: 4px solid #fefeff;
  pointer-events: all;
  transition: 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
  background-size: cover; /* Ensure the background image covers the entire div */
  background-position: center; /* Center the background image */
}

.carousel-image-info {
  width: auto;
  margin-left: 5%;
  margin-bottom: 5%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.carousel-image-info-details {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.carousel-image-info-details-box {
  width: auto;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  padding-left: 1vw;
  padding-right: 1vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: rgba(254, 254, 255, 0.25) solid 1px;
  background-color: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(2.5px);
}

.carousel-image:hover {
  border: 4px solid #545dfe;
}

.carousel-image-one {
  background-image: url('/neue1.jpg'); /* Replace '/pic1.jpg' with your image URL */
}

.carousel-image-two {
  background-image: url('/valmiera.jpeg'); /* Replace '/pic1.jpg' with your image URL */
}

.carousel-image-three {
  background-image: url('/neue3.jpg'); /* Replace '/pic1.jpg' with your image URL */
}

.carousel-image-four {
  background-image: url('/neue4.jpg'); /* Replace '/pic1.jpg' with your image URL */
}

.carousel-image-five {
  background-image: url('/neue5.jpg'); /* Replace '/pic1.jpg' with your image URL */
}

.carousel-text-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0%;
  background-color: transparent;
  height: 65%;
  width: 100%;
  align-self: center;
  background-color: transparent;
  align-items: center;
}

/* SECTION THREE */

.three {
  height: 350vh;
  background-color: #111010;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-element {
  width: 175vh;
  height: 175vh;
  border-radius: 100%;
  background-color: #545dfe;
  filter: blur(150px);
  opacity: 0.5;
  position: absolute;
  left: -140vh;
}

.background-element-two {
  width: 175vh;
  height: 175vh;
  border-radius: 100%;
  background-color: #545dfe;
  filter: blur(150px);
  opacity: 0.5;
  position: absolute;
  right: -140vh;
  margin-top: 150vh;
}

.three-top-content{
  display: flex;
  background-color: transparent;
  height: 35vh;
  width: 70%;
  flex-direction: column;
  z-index: 10;
  justify-content: center;
}

.three-top-content-text-top {
  margin-bottom: 0%;
}

.review {
  height: 40vh;
  width: 50%;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #fefeff48 solid 1px;
  z-index: 10;
  opacity: 1;
}


.review-one-text, .review-two-text, .review-three-text, .review-four-text {
  font-size: 1.25vw;
  width: 80%;
}

.review-two, .review-three, .review-four {
  margin-top: 7.5vw;
}

.review-four {
  margin-bottom: 7.5vw;
}

.review-bottom {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.review-logo-one, .review-logo-two, .review-logo-three, .review-logo-four {
  background-color: #fefeff;
  width: 1.75vw;
  height: 1.75vw;
  border-radius: 100%;
}

.review-logo-text-one, .review-logo-text-two, .review-logo-text-three, .review-logo-text-four {
  font-size: 0.75vw;
}


/* LOADING SCREEN */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #fefeff;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-screen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}



.loading-screen__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 10rem;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}


@media (max-width: 768px) {

}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}



