@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fefeff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: auto;
}

section {
  width: 100%;
  height: 100vh;
  pointer-events: all;
  background-color: transparent;
}

/* TEXTS */

.headline {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 8vw;
  text-align: left;
  line-height: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.medium-headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3.25vw;
  line-height: 100%;
}

.small-headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.headline-blue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #111111, #bb87fd, #bb87fd, #111111, #bb87fd, #bb87fd, #111111);
  background-size: 400% 400%;
  animation: animate 8s linear infinite alternate;
}

.headline-purple {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #bb87fd, #bbb3dc, #bb87fd, #bbb3dc, #bb87fd, #bbb3dc, #bb87fd);
  background-size: 400% 400%;
  animation: animate 8s linear infinite alternate;
}

@keyframes animate {
  0% { background-position: 100% 100%; }
  100% { background-position: 0 0; }
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.45vw;
  line-height: 145%;
}

.small-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 100%;
}

.small-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.85vw;
  line-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.big-text {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 2.75vw;
  line-height: 100%;
  margin-top: 5%;
  margin-bottom: 0%;
}


.black {
  color: #111111;
}

.white {
  color: #fefeff;
}

.grey {
  color: #6c6d6c;
}

.purple {
  color: #bb87fd;
}

.bold {
  font-weight: 500;
}



/* NAVIGATION BAR */
.navigation {
  background-color: transparent;
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
  z-index: 10;
  margin-top: 1%;
}

.logo {
  height: 2.5vw;
}

.navigation-right {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  gap: 25px;
}

.navigation-text {
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.navigation-text:hover {
  color: #787f87;
}

/* SECTION ONE */

.one-content {
  width: 90%;
  height: 100vh;
  display: flex;
  margin-top: 0%;
  background-color: transparent;
  flex-direction: column;
  margin-left: 5%;
}

.one-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 5%;
}

.one-bottom-row {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: auto;
  align-items: center;
}

.one-bottom-row-circle {
  width: auto;
  height: auto;
  background-color: #111111;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefeff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  margin-right: 5%;
  padding: 15px;
}

.one-bottom-row-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.broneeri-k천ne {
  width: auto;
  height: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #bb87fd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7.5%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.broneeri-k천ne:hover {
  background-color: #bbb3dc;
}







/* SECTION TWO */

.carousel {
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  background-color: transparent;
  height: 100vh;
  align-items: center;
  opacity: 1;
}

.carousel-content {
  width: 42vw;
  height: 100vh;
  background-color: transparent;
  flex: 0 0 auto;
  display: flex;
}

.short {
  width: 36.5vw;
}

.carousel-text-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12%;
  background-color: transparent;
  height: 65%;
  align-self: center;
}

.carousel-button {
  width: 12.5vw;
  height: 4vw;
  display: flex;
  background-color: transparent;
  border-radius: 50px;
  border: #bb87fd solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel-image {
  position: relative;
  width: 100%;
  height: 75%;
  background-color: transparent;
  align-self: center;
  border-radius: 50px;
  border: 5px solid #fefeff;
  pointer-events: all;
  transition: 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
  background-size: cover; /* Ensure the background image covers the entire div */
  background-position: center; /* Center the background image */
}

.carousel-image-info {
  width: auto;
  margin-left: 5%;
  margin-bottom: 5%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.carousel-image-info-details {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.carousel-image-info-details-box {
  width: auto;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  padding-left: 1vw;
  padding-right: 1vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: rgba(254, 254, 255, 0.25) solid 1px;
  background-color: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(2.5px);
}

.carousel-image:hover {
  border: 5px solid #bb87fd;
}

.carousel-image-one {
  background-image: url('/neue1.jpg'); /* Replace '/pic1.jpg' with your image URL */
}

.carousel-image-two {
  background-image: url('/valmiera.jpeg'); /* Replace '/pic1.jpg' with your image URL */
}

.carousel-image-three {
  background-image: url('/neue3.jpg'); /* Replace '/pic1.jpg' with your image URL */
}

.carousel-image-four {
  background-image: url('/neue4.jpg'); /* Replace '/pic1.jpg' with your image URL */
}

.carousel-image-five {
  background-image: url('/neue5.jpg'); /* Replace '/pic1.jpg' with your image URL */
}

.carousel-text-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0%;
  background-color: transparent;
  height: 65%;
  width: 100%;
  align-self: center;
  background-color: transparent;
  align-items: center;
}

/* SECTION THREE */

.three {
  height: 350vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-element {
  width: 175vh;
  height: 175vh;
  border-radius: 100%;
  background-color: #bb87fd;
  filter: blur(150px);
  opacity: 0.5;
  position: absolute;
  left: -140vh;
}

.background-element-two {
  width: 175vh;
  height: 175vh;
  border-radius: 100%;
  background-color: #bb87fd;
  filter: blur(150px);
  opacity: 0.5;
  position: absolute;
  right: -140vh;
  margin-top: 150vh;
}

.three-top-content{
  display: flex;
  background-color: transparent;
  height: 35vh;
  width: 70%;
  flex-direction: column;
  z-index: 10;
  justify-content: center;
}

.three-top-content-text-top {
  margin-bottom: 0%;
}

.review {
  height: 40vh;
  width: 50%;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #fefeff48 solid 1px;
  z-index: 10;
  opacity: 1;
}


.review-one-text, .review-two-text, .review-three-text, .review-four-text {
  font-size: 1.25vw;
  width: 80%;
}

.review-two, .review-three, .review-four {
  margin-top: 7.5vw;
}

.review-four {
  margin-bottom: 7.5vw;
}

.review-bottom {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.review-logo-one, .review-logo-two, .review-logo-three, .review-logo-four {
  background-color: #fefeff;
  width: 1.75vw;
  height: 1.75vw;
  border-radius: 100%;
}

.review-logo-text-one, .review-logo-text-two, .review-logo-text-three, .review-logo-text-four {
  font-size: 0.75vw;
}

/* FOUR */

.four {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.kes-me-oleme {
  align-self: center;
}

.four-content {
  width: 90%;
  height: 100%;
  display: flex;
  margin-top: 0%;
  background-color: transparent;
  flex-direction: column;
  margin-left: 5%;
  justify-content: space-between;
}

.about-us {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.about-us-picture {
  flex: 0 0 40vh; /* Set a fixed size square based on the height of .about-us */
  position: relative;
  background-color: #111111;
  background-image: url('/neue4.jpg'); 
  background-size: cover; 
  border-radius: 50px;
}

.about-us-picture-2 {
  flex: 0 0 40vh; /* Set a fixed size square based on the height of .about-us */
  position: relative;
  background-color: #111111;
  background-image: url('/neue5.jpg'); 
  background-size: cover; 
  border-radius: 50px;
}

.about-us-texts {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  justify-content: center;
}

.about-us-texts-2 {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  justify-content: center;
}

.about-us-text {
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

.about-us-divider {
  width: 100%;
  height: 1px;
  background-color: #787f8750;
}


/* FIVE */

.five {
  display: flex;
  height: 110vh;
  position: relative;
  background-color: #fefeff;
  z-index: 20;
}

.five-content {
  width: 90%;
  height: 90vh;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.five-content-video {
  width: 100%;
  height: 100%;
  background-image: url('/neue4.jpg'); 
  background-size: cover; 
  border-radius: 50px;
}

/* SIX */

.six {
  background-color: transparent;
  background-color: #111111;
  display: flex;
  height: 130vh;
}

.six-content-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.six-content-title-top {
  margin-top: 0%;
  margin-bottom: 0.25%;
}

.six-content-title-bottom {
  margin-top: 0.25%;
  margin-bottom: 0%;
}

.six-content {
  width: 90%;
  height: 100%;
  display: flex;
  margin-top: 0%;
  background-color: transparent;
  flex-direction: column;
  margin-left: 5%;
  justify-content: space-evenly;
  z-index: 10;
}

.six-price-containers {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.price-container {
  width: 32.5%;
  height: 100%;
  border-radius: 25px;
  border: #787f8750 solid 1px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #787f8750;
  margin-bottom: 15%;
  margin-top: 15%;
}

.price-container-list {
  margin-top: 0;
  margin-bottom: 15%;
}

.broneeri-k천ne-hind {
  width: 60%;
  height: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #bb87fd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.broneeri-k천ne-hind:hover {
  background-color: #bbb3dc;
}

.background-element-three {
  width: 100vh;
  height: 100vh;
  border-radius: 100%;
  background-color: #bb87fd;
  filter: blur(150px);
  opacity: 0.5;
  position: absolute;
  left: 130vh;
  margin-top: 100vh;
  z-index: 0;
}

.background-element-four {
  width: 100vh;
  height: 100vh;
  border-radius: 100%;
  background-color: #bb87fd;
  filter: blur(150px);
  opacity: 0.5;
  position: absolute;
  right: 0;
  margin-right: 130vh;
  margin-top: -70vh;
  z-index: 0;
}

/* SEVEN */

.seven {
  z-index: 20;
  background-color: #fefeff;
  width: 100%;
  height: 100vh;
  position: relative;
}



@media (max-width: 768px) {

}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}



