@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fefeff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: auto;
}

::-webkit-scrollbar-thumb {
  background-color: #111111;
}
/* TRACK */
::-webkit-scrollbar-track {
  background-color: #fefeff;
}


.section {
  width: 100%;
  height: 100vh;
  pointer-events: all;
  background-color: transparent;
}

.experience {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -5;
}

/* NAVIGATION BAR */
.nav {
  background-color: transparent;
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
  z-index: 10;
  margin-top: 1%;
}

.smalllogo {
  height: 50px;
}


.center {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: transparent;
  border-radius: 50px;
  border: #545dfe solid 1px;
  justify-content: center;
}

/* TEXTS */

.headline {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 9rem;
  text-align: left;
  line-height: 10rem;
  margin-top: 10%;
  margin-bottom: 5%;
}

.headline-blue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #111111, #545dfe, #545dfe, #111111, #545dfe, #545dfe, #111111);
  background-size: 400% 400%;
  animation: animate 8s linear infinite alternate;
}

@keyframes animate {
  0% { background-position: 100% 100%; }
  100% { background-position: 0 0; }
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.small-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.small-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
  padding-left: 15px;
  padding-right: 15px;
}


.black {
  color: #111111;
}

.white {
  color: #fefeff;
}

.grey {
  color: #787f87;
}

.bold {
  font-weight: 500;
}

/* SECTION ONE */

.content-one {
  width: 95%;
  height: 100%;
  display: flex;
  margin-top: 0%;
  background-color: transparent;
  flex-direction: column;
  margin-left: 5%;
}

.content-one-bottom {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-right: 5%;
  justify-content: space-between;
  margin-top: 0;
}

.bottom-one {
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 200px;
  align-items: center;
}

.bottom-circle {
  width: 75px;
  height: 75px;
  background-color: #111111;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefeff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  margin-right: 5%;
}

.bottom-text {
  color: #11111148;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 5%;
}

.bottom-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: end;
}

.bottom-box {
  width: 240px;
  height: 75px;
  background-color: #545dfe;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
}


/* SECTION TWO */

.content-two {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  opacity: 1;
}

.carousel {
  display: flex;
  flex-direction: row;
  gap: 50px;
  background-color: #fefeff;
  height: 100vh;
  align-items: center;
  opacity: 1;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12%;
  background-color: transparent;
  height: 65%;
  align-self: center;
}

.two-main {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 5%;
  line-height: 4rem;
  margin-top: 0;
}

.two-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: left;
  margin-top: 5%;
}

.carousel-examples {
  width: 250px;
  height: 75px;
  display: flex;
  background-color: transparent;
  border-radius: 50px;
  border: #545dfe solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-content {
  width: 800px;
  height: 100vh;
  background-color: #fefeff;
  flex: 0 0 auto;
  display: flex;
}

.short {
  width: 700px;
}

.carousel-image {
  position: relative;
  width: 100%;
  height: 70%;
  background-color: transparent;
  align-self: center;
  border-radius: 50px;
  border: 4px solid #fefeff;
  pointer-events: all;
  transition: 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.carousel-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.carousel-info-bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.carousel-image:hover {
  border: 4px solid #545dfe;
}

.carousel-image-one {
  background-image: url('/neue1.jpg'); /* Replace '/pic1.jpg' with your image URL */
  background-size: cover; /* Ensure the background image covers the entire div */
  background-position: center; /* Center the background image */
}

.carousel-image-two {
  background-image: url('/neue2.jpg'); /* Replace '/pic1.jpg' with your image URL */
  background-size: cover; /* Ensure the background image covers the entire div */
  background-position: center; /* Center the background image */
}

.carousel-image-three {
  background-image: url('/neue3.jpg'); /* Replace '/pic1.jpg' with your image URL */
  background-size: cover; /* Ensure the background image covers the entire div */
  background-position: center; /* Center the background image */
}

.carousel-details {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-bottom: 5%;
  gap: 25px;
}

.details-box {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  backdrop-filter: blur(5px);
  border: #fefeff solid 1px;
  color: #fefeff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
}

.examples-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.carousel-text-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0%;
  background-color: transparent;
  height: 65%;
  width: 100%;
  align-self: center;
  background-color: transparent;
}

.two-main-end {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 5%;
  line-height: 4rem;
  margin-top: 0;
  text-align: center;
}

.carousel-examples-end {
  width: 300px;
  height: 75px;
  display: flex;
  background-color: transparent;
  border-radius: 50px;
  border: #545dfe solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/* SECTION THREE */

.three {
  height: 350vh;
  background-color: #111010;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-element {
  width: 175vh;
  height: 175vh;
  border-radius: 100%;
  background-color: #545dfe;
  filter: blur(150px);
  opacity: 0.5;
  position: absolute;
  left: -140vh;
}

.background-element-two {
  width: 175vh;
  height: 175vh;
  border-radius: 100%;
  background-color: #545dfe;
  filter: blur(150px);
  opacity: 0.5;
  position: absolute;
  right: -140vh;
  margin-top: 150vh;
}

.three-content {
  display: flex;
  background-color: transparent;
  height: 35vh;
  width: 70%;
  flex-direction: column;
  margin-bottom: 100px;
  z-index: 10;
}

.three-main {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 10%;
  color: #fefeff;
}

.three-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 2.5%;
  color: #fefeff;
}

.project-one {
  height: 500px;
  width: 750px;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #fefeff48 solid 1px;
  z-index: 10;
  opacity: 1;
}

.project-two {
  height: 500px;
  width: 750px;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #fefeff48 solid 1px;
  z-index: 10;
  margin-top: 100px;
  opacity: 1;
}

.project-three {
  height: 500px;
  width: 750px;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #fefeff48 solid 1px;
  z-index: 10;
  margin-top: 100px;
  opacity: 1;
}

.project-four {
  height: 500px;
  width: 750px;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #fefeff48 solid 1px;
  z-index: 10;
  margin-top: 100px;
  opacity: 1;
}

.p-one-main {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #545dfe, #8d94fe);
}

.p-one-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2.5%;
  color: #fefeff;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.p-two-main {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #545dfe, #8d94fe);
}

.p-two-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2.5%;
  color: #fefeff;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.p-three-main {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #545dfe, #8d94fe);
}

.p-three-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2.5%;
  color: #fefeff;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.p-four-main {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #545dfe, #8d94fe);
}

.p-four-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2.5%;
  color: #fefeff;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}


/* LOADING SCREEN */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #fefeff;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-screen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}



.loading-screen__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 10rem;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.progress__container {
  width: 100%;
  height: 1rem;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.progress__bar {
  width: 0;
  height: 100%;
  background-color: #545dfe;
  transition: width 0.5s ease-in-out;
}


@media (max-width: 768px) {

}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}



